<ion-content>
   
    <div class="main_content_div">

        <ion-label class="head_lbl">Login to <br> your account</ion-label>
        <div class="white_div">
        <form #form="ngForm">
            
            <ion-item class="username_box" lines="none">
              
              <ion-input label="Username"
              labelPlacement="stacked"
              fill="solid"
              [(ngModel)]="authenticateModel.userNameOrEmailAddress"
              name="username"
              type="text"
              #username="ngModel"
              spellcheck="false"
              autocapitalize="off"
              errorText="Username is required"
              required></ion-input>
            </ion-item>
            <ion-item class="password_box" lines="none">
               
                <ion-input label="Password"
                labelPlacement="stacked"
                fill="solid"
                [(ngModel)]="authenticateModel.password"
                name="password"
                type="password"
                #password="ngModel"
                errorText="Password is required"
                required></ion-input>
                <span slot="end" class="forgot_lbl" (click)="goToForgot()">Forgot ?</span>
            </ion-item>
            <ion-button expand="block" shape="round" type="submit" (click)="onLogin(form)">
                Log In
              </ion-button>
        </form>
    </div>
       

        <ion-label class="or_lbl">Or sign up with social account</ion-label>

        <ion-grid fixed>
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="block" shape="round">
                        <img src="assets/imgs/facebook.png" style="width: 23px;">
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="block" shape="round">
                        <ion-icon name="logo-google"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-label class="bottom_lbl" (click)="goToRegister()">Don't have an account ? <span>Sign Up</span></ion-label>

    </div>
</ion-content>
